In [1]:
import pandas as pd

In [2]:
my_dic = {'country':   ['Afghanistan', 'United Kingdom', 'Japan', 'China', 'Pakistan', 'India'],
         'language':   ['Pushto', 'English', 'Japanese', 'Chinese', 'Urdu', 'Hindi'],
         'population': [10, 20, 30, 40, 50, 60],
         'gdp':        [100, 200, 300, 400, 500, 600],
         'continent':  ['Asia', 'Europe', 'East Asia', 'East Asia', 'Asia', 'Asia'],
         }

In [3]:
df = pd.DataFrame(my_dic)
df.index = ['af', 'uk', 'jp', 'ch', 'pk', 'ind']
df

            country  language  population  gdp  continent
af      Afghanistan    Pushto          10  100       Asia
uk   United Kingdom   English          20  200     Europe
jp            Japan  Japanese          30  300  East Asia
ch            China   Chinese          40  400  East Asia
pk         Pakistan      Urdu          50  500       Asia
ind           India     Hindi          60  600       Asia

# 1. Square Baracket:

## 1.1. Access Columns Only:

In [4]:
df['country']   # returns column, country, as an object of class/type, Pandas Series as shown below.

af        Afghanistan
uk     United Kingdom
jp              Japan
ch              China
pk           Pakistan
ind             India
Name: country, dtype: object

In [5]:
print(type(df['country'])) # df['country'] is an object of this class, like saleem is an object of Human
                # class. All the methods and attributes of this class, pandas.core.series.Series, can be 
                # called on this object through dot operator as, df['country'].method/attribute.

<class 'pandas.core.series.Series'>

In [6]:
df[['country']] # returns column, country, as an object of class/type, Pandas DataFrame as shown below.

            country
af      Afghanistan
uk   United Kingdom
jp            Japan
ch            China
pk         Pakistan
ind           India

In [7]:
print(type(df[['country']])) # df[['country']] is an object of this class, like saleem is object of Human
                # class. All the methods and attributes of this class, pandas.core.frame.DataFrame, can be 
                # called on this object through dot operator as, df[['country']].method/attribute.

<class 'pandas.core.frame.DataFrame'>

In [8]:
df[['country', 'gdp']] # A list of colums within a set of square brackets. Returns the selected columns as
                       # a DataFrame object. Slicing (:) is not allowed.

            country  gdp
af      Afghanistan  100
uk   United Kingdom  200
jp            Japan  300
ch            China  400
pk         Pakistan  500
ind           India  600

## 1.2. Access Rows Only:

In [9]:
df

            country  language  population  gdp  continent
af      Afghanistan    Pushto          10  100       Asia
uk   United Kingdom   English          20  200     Europe
jp            Japan  Japanese          30  300  East Asia
ch            China   Chinese          40  400  East Asia
pk         Pakistan      Urdu          50  500       Asia
ind           India     Hindi          60  600       Asia

In [10]:
df['af':'ch'] # Rows can be selected only through slicing (:) in this method. Row labels can be used for
              # the selection. Two square brackets are not allowed. The end is not exclusive in row 
              # labels. Returns the selected rows as a DataFrame object inspite of single square brackets
              # used in this method.

           country  language  population  gdp  continent
af     Afghanistan    Pushto          10  100       Asia
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

In [11]:
df[0:4] # row indexing works exactly the same way as row labels just above. All above points applied.

           country  language  population  gdp  continent
af     Afghanistan    Pushto          10  100       Asia
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

# 2. loc: 
### label-based, used for selection of rows or columns or both.
### Slicing is allowed in selecting rows only, columns only, and in selecting rows and columns both but only in single square brackets.

## 2.1. Access Rows Only:

In [12]:
df

            country  language  population  gdp  continent
af      Afghanistan    Pushto          10  100       Asia
uk   United Kingdom   English          20  200     Europe
jp            Japan  Japanese          30  300  East Asia
ch            China   Chinese          40  400  East Asia
pk         Pakistan      Urdu          50  500       Asia
ind           India     Hindi          60  600       Asia

In [13]:
df.loc[['af']]     # Returns the selected row as a DataFrame object.

        country language  population  gdp continent
af  Afghanistan   Pushto          10  100      Asia

In [14]:
df.loc[['af', 'ch', 'ind']] # A list of row labels with in square brackets. Returns the selected rows as a 
                            # DataFrame object. Slicing is not allowed in double square brackets.

         country language  population  gdp  continent
af   Afghanistan   Pushto          10  100       Asia
ch         China  Chinese          40  400  East Asia
ind        India    Hindi          60  600       Asia

In [15]:
df.loc['af':'ch']   # slicing allowed only in single square brackets with loc.

           country  language  population  gdp  continent
af     Afghanistan    Pushto          10  100       Asia
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

## 2.2. Access Columns Only:

In [16]:
df.loc[:, ['country', 'gdp']] # Returns the selected columns for all rows (full columns) as a DataFrame
                              # object. Row argument is compulsory in loc and column argument is optional 
                              # as seen just above in case of 'Access Rows only'.
                              # Slicing not allowed in double square brackets but allowed in single square
                              # brackets.

            country  gdp
af      Afghanistan  100
uk   United Kingdom  200
jp            Japan  300
ch            China  400
pk         Pakistan  500
ind           India  600

In [17]:
df.loc[:, 'country':'gdp'] # Returns the selected columns for all the rows (full columns) as a DataFrame
                           # object. Slicing allowed only in single square brackets.

            country  language  population  gdp
af      Afghanistan    Pushto          10  100
uk   United Kingdom   English          20  200
jp            Japan  Japanese          30  300
ch            China   Chinese          40  400
pk         Pakistan      Urdu          50  500
ind           India     Hindi          60  600

## 2.3. Access Both Rows and Columns:

In [18]:
df.loc[['af'],['country', 'gdp']] # A list of row labels before the seperating comma and a list of column 
                                  # labels after the seperating comma. Returns a DataFrame object. 
                                 # df.loc['af', ['country', 'gdp']] also works but returns a Series object.

        country  gdp
af  Afghanistan  100

In [19]:
df.loc[['af','ch', 'pk'], ['country', 'gdp']] # Returns selected rows and columns as a DataFrame object.

        country  gdp
af  Afghanistan  100
ch        China  400
pk     Pakistan  500

In [20]:
df.loc['af':'ch', ['country', 'gdp']]   # slicing allowed only in signle square brackets. Returns 
                                        # a DataFrame object.

           country  gdp
af     Afghanistan  100
uk  United Kingdom  200
jp           Japan  300
ch           China  400

In [21]:
df.loc[['af', 'ch'], 'country':'gdp'] # slicing allowed only in single square brackets and returns the 
                                      # selected rows and columns as a DataFrame object.

        country language  population  gdp
af  Afghanistan   Pushto          10  100
ch        China  Chinese          40  400

In [22]:
df.loc['af':'ch', 'country':'gdp'] # slicing allowed only in single square brackets & returns the selected
                                   # rows and columns as a DataFrame object.

           country  language  population  gdp
af     Afghanistan    Pushto          10  100
uk  United Kingdom   English          20  200
jp           Japan  Japanese          30  300
ch           China   Chinese          40  400

# 3. iloc:
### integer index (position) based, used for selection of rows or columns or both.
### Slicing is allowed in selecting rows only, columns only, and in selecting rows and columns both but only in single square brackets.
### Returns a DataFrame object until mentioned otherwise in the code below.
### No descriptions given in the code below to keep it simple. All the descriptions of the loc applies.

## 3.1. Access Rows Only:

In [23]:
df

            country  language  population  gdp  continent
af      Afghanistan    Pushto          10  100       Asia
uk   United Kingdom   English          20  200     Europe
jp            Japan  Japanese          30  300  East Asia
ch            China   Chinese          40  400  East Asia
pk         Pakistan      Urdu          50  500       Asia
ind           India     Hindi          60  600       Asia

In [24]:
df.iloc[[1]]  # df.iloc[1] returns Series object. No argument made for columns.

           country language  population  gdp continent
uk  United Kingdom  English          20  200    Europe

In [25]:
df.iloc[[1, 3, 4]]

           country language  population  gdp  continent
uk  United Kingdom  English          20  200     Europe
ch           China  Chinese          40  400  East Asia
pk        Pakistan     Urdu          50  500       Asia

In [26]:
df.iloc[1:4]  # the end is exclusive.

           country  language  population  gdp  continent
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

## 3.2. Access Columns Only:

In [27]:
df.iloc[:, [0]] # df.iloc[:, 0] returns Series object. A row argument is compulsory.

            country
af      Afghanistan
uk   United Kingdom
jp            Japan
ch            China
pk         Pakistan
ind           India

In [28]:
df.iloc[:, [0, 2, 4]]

            country  population  continent
af      Afghanistan          10       Asia
uk   United Kingdom          20     Europe
jp            Japan          30  East Asia
ch            China          40  East Asia
pk         Pakistan          50       Asia
ind           India          60       Asia

In [29]:
df.iloc[:, 0:4] # the end is exclusive.

            country  language  population  gdp
af      Afghanistan    Pushto          10  100
uk   United Kingdom   English          20  200
jp            Japan  Japanese          30  300
ch            China   Chinese          40  400
pk         Pakistan      Urdu          50  500
ind           India     Hindi          60  600

## 2.3. Access Both Rows and Columns:

In [30]:
df

            country  language  population  gdp  continent
af      Afghanistan    Pushto          10  100       Asia
uk   United Kingdom   English          20  200     Europe
jp            Japan  Japanese          30  300  East Asia
ch            China   Chinese          40  400  East Asia
pk         Pakistan      Urdu          50  500       Asia
ind           India     Hindi          60  600       Asia

In [31]:
df.iloc[[0], [0, 3]]

        country  gdp
af  Afghanistan  100

In [32]:
df.iloc[[0, 3, 4], [0, 3]]

        country  gdp
af  Afghanistan  100
ch        China  400
pk     Pakistan  500

In [33]:
df.iloc[0:4, [0, 3]] # the end is exclusive in slicing.

           country  gdp
af     Afghanistan  100
uk  United Kingdom  200
jp           Japan  300
ch           China  400

In [34]:
df.iloc[[0, 3], 0:4] # The end is exclusive in slicing.

        country language  population  gdp
af  Afghanistan   Pushto          10  100
ch        China  Chinese          40  400

In [35]:
df.iloc[0:4, 0:4] # The end is exclusive in slicing.

           country  language  population  gdp
af     Afghanistan    Pushto          10  100
uk  United Kingdom   English          20  200
jp           Japan  Japanese          30  300
ch           China   Chinese          40  400

# Collection of all the above commands:

## 1. Square Brackets:

### 1.1. Columns only:

In [36]:
df

            country  language  population  gdp  continent
af      Afghanistan    Pushto          10  100       Asia
uk   United Kingdom   English          20  200     Europe
jp            Japan  Japanese          30  300  East Asia
ch            China   Chinese          40  400  East Asia
pk         Pakistan      Urdu          50  500       Asia
ind           India     Hindi          60  600       Asia

In [37]:
df['country']             # series object

af        Afghanistan
uk     United Kingdom
jp              Japan
ch              China
pk           Pakistan
ind             India
Name: country, dtype: object

In [38]:
df[['country']]          # DataFrame object

            country
af      Afghanistan
uk   United Kingdom
jp            Japan
ch            China
pk         Pakistan
ind           India

In [39]:
df[['country', 'gdp']]      # List. DataFrame object

            country  gdp
af      Afghanistan  100
uk   United Kingdom  200
jp            Japan  300
ch            China  400
pk         Pakistan  500
ind           India  600

### 1.2. Rows only:

In [40]:
df['af':'ch']    # Single square brackets and slicing. DataFrame object. The end inclusive.

           country  language  population  gdp  continent
af     Afghanistan    Pushto          10  100       Asia
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

In [41]:
df[0:4]     # DataFrame object. The end exclusive.

           country  language  population  gdp  continent
af     Afghanistan    Pushto          10  100       Asia
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

## 2. loc: 
#### (label-based only)

### 2.1. Rows only:

In [42]:
df.loc['af']    # Series object.

country       Afghanistan
language           Pushto
population             10
gdp                   100
continent            Asia
Name: af, dtype: object

In [43]:
df.loc[['af']]    # DataFrame object.

        country language  population  gdp continent
af  Afghanistan   Pushto          10  100      Asia

In [44]:
df.loc[['af', 'ch', 'pk']]     # List. DataFrame object.

        country language  population  gdp  continent
af  Afghanistan   Pushto          10  100       Asia
ch        China  Chinese          40  400  East Asia
pk     Pakistan     Urdu          50  500       Asia

In [45]:
df.loc['af':'ch']    # DataFrame object. The end inclusive.

           country  language  population  gdp  continent
af     Afghanistan    Pushto          10  100       Asia
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

### 2.2. Columns only:

In [46]:
df.loc[:, 'country']   # Series object. Seperating comma. Row argument compulsory.

af        Afghanistan
uk     United Kingdom
jp              Japan
ch              China
pk           Pakistan
ind             India
Name: country, dtype: object

In [47]:
df.loc[:, ['country']]    # DataFrame object.

            country
af      Afghanistan
uk   United Kingdom
jp            Japan
ch            China
pk         Pakistan
ind           India

In [48]:
df.loc[:, ['country', 'gdp']]      # List. DataFrame object.

            country  gdp
af      Afghanistan  100
uk   United Kingdom  200
jp            Japan  300
ch            China  400
pk         Pakistan  500
ind           India  600

In [49]:
df.loc[:, 'country':'gdp']     # DataFrame object. Both : must be enclosed in signle square brackets.

            country  language  population  gdp
af      Afghanistan    Pushto          10  100
uk   United Kingdom   English          20  200
jp            Japan  Japanese          30  300
ch            China   Chinese          40  400
pk         Pakistan      Urdu          50  500
ind           India     Hindi          60  600

### 2.3. Rows and Columns both:

In [50]:
df.loc['af', 'country']    # String object. Seperating comma.

'Afghanistan'

In [51]:
df.loc['af', ['country']]   # Series object.

country    Afghanistan
Name: af, dtype: object

In [52]:
df.loc[['af'], 'country']   # Series object

af    Afghanistan
Name: country, dtype: object

In [53]:
df.loc[['af'], ['country']]  # DataFrame object.

        country
af  Afghanistan

In [54]:
df.loc[['af', 'ch', 'pk'], ['country', 'gdp']] # Lists. DataFrame object.

        country  gdp
af  Afghanistan  100
ch        China  400
pk     Pakistan  500

In [55]:
df.loc['af':'ch', ['country', 'gdp']]    # DataFrame object. The end inclusive.

           country  gdp
af     Afghanistan  100
uk  United Kingdom  200
jp           Japan  300
ch           China  400

In [56]:
df.loc[['af', 'ch'], 'country':'gdp']    # DataFrame object. The end inclusive.

        country language  population  gdp
af  Afghanistan   Pushto          10  100
ch        China  Chinese          40  400

In [57]:
df.loc['af':'ch', 'country':'gdp']    # DataFrame object. The end inclusive.

           country  language  population  gdp
af     Afghanistan    Pushto          10  100
uk  United Kingdom   English          20  200
jp           Japan  Japanese          30  300
ch           China   Chinese          40  400

## 3. iloc: 
#### Integer index (position)-based only:

### 3.1. Rows only:

In [58]:
df.iloc[0]     # Series object.

country       Afghanistan
language           Pushto
population             10
gdp                   100
continent            Asia
Name: af, dtype: object

In [59]:
df.iloc[[0]]    # DataFrame object. No column argument.

        country language  population  gdp continent
af  Afghanistan   Pushto          10  100      Asia

In [60]:
df.iloc[[0, 2, 3]]   # List. DataFrame object.

        country  language  population  gdp  continent
af  Afghanistan    Pushto          10  100       Asia
jp        Japan  Japanese          30  300  East Asia
ch        China   Chinese          40  400  East Asia

In [61]:
df.iloc[1:4]   # DataFrame object. The end exclusive.

           country  language  population  gdp  continent
uk  United Kingdom   English          20  200     Europe
jp           Japan  Japanese          30  300  East Asia
ch           China   Chinese          40  400  East Asia

### 3.2. Columns only:

In [62]:
df.iloc[:, 0]      # Series objects. For columns, row argument (:) is requried. Seperating comma.

af        Afghanistan
uk     United Kingdom
jp              Japan
ch              China
pk           Pakistan
ind             India
Name: country, dtype: object

In [63]:
df.iloc[:, [0]]     # DataFrame object.

            country
af      Afghanistan
uk   United Kingdom
jp            Japan
ch            China
pk         Pakistan
ind           India

In [64]:
df.iloc[:, [0, 4]]   # List. DataFrame object.

            country  continent
af      Afghanistan       Asia
uk   United Kingdom     Europe
jp            Japan  East Asia
ch            China  East Asia
pk         Pakistan       Asia
ind           India       Asia

In [65]:
df.iloc[:, 0:4]   # DataFrame object. The end exclusive.

            country  language  population  gdp
af      Afghanistan    Pushto          10  100
uk   United Kingdom   English          20  200
jp            Japan  Japanese          30  300
ch            China   Chinese          40  400
pk         Pakistan      Urdu          50  500
ind           India     Hindi          60  600

### 3.3. Rows and Columns Both:

In [66]:
df.iloc[0, 1]    # String object. Seperating comma.

'Pushto'

In [67]:
print(type(df.iloc[0, 1]))

<class 'str'>

In [68]:
df.iloc[0, [1]] # Series object.

language    Pushto
Name: af, dtype: object

In [69]:
df.iloc[[0], 1]   # Series object.

af    Pushto
Name: language, dtype: object

In [70]:
df.iloc[[0], [1]]   # DataFrame object.

   language
af   Pushto

In [71]:
df.iloc[[0, 2, 3], [0, 4]]   # Lists to avoid confusion in seperating comma for rows & columns. DataFrame
                             # object.

        country  continent
af  Afghanistan       Asia
jp        Japan  East Asia
ch        China  East Asia

In [72]:
df.iloc[0:4, [0, 4]]   # DataFrame object. The end is exclusive.

           country  continent
af     Afghanistan       Asia
uk  United Kingdom     Europe
jp           Japan  East Asia
ch           China  East Asia

In [73]:
df.iloc[[0, 4], 0:4]  # DataFrame object. The end is exclusive.

        country language  population  gdp
af  Afghanistan   Pushto          10  100
pk     Pakistan     Urdu          50  500

In [74]:
df.iloc[0:4, 0:4]    # DataFrame object. The ends are exclusive.

           country  language  population  gdp
af     Afghanistan    Pushto          10  100
uk  United Kingdom   English          20  200
jp           Japan  Japanese          30  300
ch           China   Chinese          40  400